.App {
  min-height: 100%;
  display: flex;
  justify-content: center;
}

p {
  padding: 5px;
  margin: 0;
}

button {
  border: none;
  background-color: rgb(201, 201, 201);
  border-radius: 5px;
  height: 30px;
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  height: 350px;
}
